.flex {
        display: flex;
        &-justify {
            display: flex;
            justify-content: space-between;
        }
        &-align {
            &--bottom{
                align-items: flex-end;
            }
            &--middle{
                align-items: center;
            }
            &--top{
                align-items: flex-start;
            }
        }
        &__dir {
            &--column {
                flex-direction: column;
            }
            &--row-reverse {
                flex-direction: row-reverse;
                &.community__gallary{
                    padding:0 0px 25px 25px;
                }
                .community__gallary--box {
                    margin-right:25px;
                    & + & {
                        margin-left:0px;
                    }
                }
            }
        }
    }
