// ==========================================================================
// Links
// ==========================================================================

@mixin links ($link: $link-color, $visited: $link-color, $hover: $link-hover-color, $active: $link-hover-color) {
    & {
        color: $link;
        cursor: pointer;
        &:visited {
            color: $visited;
        }
        &:hover {
            color: $hover;
        }
        &:active,
        &:focus {
            color: $active;
        }
    }
}

// ==========================================================================
// Usage
// --------------------------------------------------------------------------
//
// a { @include links(orange, blue, yellow, teal); }
//
// ==========================================================================
